<div class="container">
    <div class="py-2 mt-4 text-left text-white">
        <h2><i class="fa fa-users"></i> Lista de Usuarios</h2>
        <hr class="bg-white" class="mb-4">
        <!-- <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group 
            has a validation state that can be triggered by attempting to submit the form without completing it.</p> -->
    </div>

    <table class="table bg-light">
        <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Usuario</th>
                <th scope="col">Rol</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of allUser; index as i ">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ user.first_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td>{{ userTypes[user?.user_type] }}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-dark mr-2" [routerLink]="['../editar-usuario/', user.key]" ><i class="fa fa-edit"></i> Editar</button>
                    <button type="button" class="btn btn-sm btn-dark" (click)="deleteUser(user)"><i class="fa fa-trash"></i> Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>