<div class="nav-scroller bg-secondary shadow-sm">
    <nav class="nav nav-underline">
        <a class="nav-link mr-auto" href="#">Babaria</a>

        <span class="nav-link disabled">Colombia, {{date | date: "dd MMM yyyy"}}</span>
        <a class="nav-link disabled" href="#">Jonathan</a>
        <a class="nav-link disabled" href="#" style="padding-top: 0.35rem !important;"><img
                src="./assets/images/user-circle-gray.png" class="mx-auto d-block" alt="" style="height: 35px;"></a>
        <a class="nav-link" href="#"><i class="fa fa-power-off fa-lg"></i></a>
    </nav>
</div>