<div class="text-center">
    <form [formGroup]="loginForm" (submit)="login()" class="form-signin">

        <!-- <img class="mb-4" src="assets/images/mustache.png" alt="" width="72" height="72"> -->

        <h1 class="h3 mb-0 font-weight-normal">Babaria</h1>
        <small class="d-block mb-3">Inicio de sesión del Sistema</small>
        <label for="input_email" class="sr-only">Email address</label>
        <input fromControlName="input_email" type="email" id="input_email" class="form-control"
            placeholder="Email address" required="" autofocus="">
        <label for="input_password" class="sr-only">Password</label>
        <input fromControlName="input_password" type="password" id="input_password" class="form-control"
            placeholder="Password" required="">

        <!-- <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div> -->

        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Iniciar Sesión</button>

        <p class="mt-5 mb-3 text-muted">Recuperar Contraseña</p>

    </form>
</div>