<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="nav-link" href="#" routerLinkActive="active" [routerLink]="['/admin']"><i class="fa fa-sign-in-alt"></i> Inicio</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown mx-2">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><i class="fa fa-user"></i> Usuarios</a>
                <div class="dropdown-menu bg-dark" aria-labelledby="dropdown01">
                    <a class="dropdown-item text-white" routerLinkActive="active" [routerLink]="['nuevo-usuario']"><i class="fa fa-user-plus"></i> Nuevo Usuario</a>
                    <a class="dropdown-item text-white" routerLinkActive="active" [routerLink]="['usuarios']"><i class="fa fa-th-list"></i> Lista de Usuarios</a>
                </div>
            </li>

            <li class="nav-item dropdown mx-2">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><i class="fa fa-users"></i> Clientes</a>
                <div class="dropdown-menu bg-dark" aria-labelledby="dropdown01">
                    <a class="dropdown-item text-white" routerLinkActive="active" [routerLink]="['nuevo-cliente']"><i class="fa fa-user-plus"></i> Nuevo Cliente</a>
                    <a class="dropdown-item text-white" routerLinkActive="active" [routerLink]="['clientes']"><i class="fa fa-th-list"></i> Lista de Clientes</a>
                </div>
            </li>

            <li class="nav-item dropdown mx-2">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><i class="fa fa-truck"></i> Proveedores</a>
                <div class="dropdown-menu bg-dark" aria-labelledby="dropdown01">
                    <a class="dropdown-item text-white" routerLinkActive="active" [routerLink]="['nuevo-proveedor']"><i class="fa fa-user-plus"></i> Nuevo Proveedor</a>
                    <a class="dropdown-item text-white" routerLinkActive="active" [routerLink]="['proveedores']"><i class="fa fa-th-list"></i> Lista de Proveedores</a>
                </div>
            </li>

            <li class="nav-item dropdown mx-2">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><i class="fa fa-boxes"></i> Productos</a>
                <div class="dropdown-menu bg-dark" aria-labelledby="dropdown01">
                    <a class="dropdown-item text-white" routerLinkActive="active" [routerLink]="['nuevo-producto']"><i class="fa fa-box-open"></i> Nuevo Producto</a>
                    <a class="dropdown-item text-white" routerLinkActive="active" [routerLink]="['productos']"><i class="fa fa-th-list"></i> Lista de Productos</a>
                </div>
            </li>

            <li class="nav-item dropdown mx-2">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"><i class="fa fa-cash-register"></i> Ventas</a>
                <div class="dropdown-menu bg-dark" aria-labelledby="dropdown01">
                    <a class="dropdown-item text-white" routerLinkActive="active" [routerLink]="['nueva-venta']"><i class="fa fa-cart-plus"></i> Nueva Venta</a>
                    <a class="dropdown-item text-white" routerLinkActive="active" [routerLink]="['ventas']"><i class="fa fa-th-list"></i> Ventas</a>
                </div>
            </li>

        </ul>
    </div>
</nav>