<div class="container">
    <div class="py-2 mt-4 text-left text-white">
        <h2><i class="fa fa-users"></i> Lista de Clientes</h2>
        <hr class="bg-white" class="mb-4">
    </div>

    <table class="table bg-light">
        <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NIT</th>
                <th scope="col">Nombre</th>
                <th scope="col">Telefono</th>
                <th scope="col">Dirección</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of allClientes; index as i ">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ cliente.nit }}</td>
                <td>{{ cliente.first_name }}</td>
                <td>{{ cliente.telephone }}</td>
                <td>{{ cliente.address }}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-dark mr-2"
                        [routerLink]="['../editar-cliente/', cliente.key]"><i class="fa fa-edit"></i> Editar</button>
                    <button type="button" class="btn btn-sm btn-dark" (click)="deleteCliente(cliente)"><i
                            class="fa fa-trash"></i> Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>